# pop 추출후 삭제, count(개수 세기), extend(리스트 확장), remove(제거)

In [41]:
a = [11,22,33,44,55,11,33]
a.remove(22)
print(a)
a.remove(33)
print(a)
a.remove(33)
print(a)

[11, 33, 44, 55, 11, 33]
[11, 44, 55, 11, 33]
[11, 44, 55, 11]

In [34]:
a = ['a','b','c','d','b','f']

a.remove('b')
a
a.remove('b')
a

['a', 'c', 'd', 'f']

In [12]:
# pop 추출 후 삭제

a = ['a','b','c','d','d']
print(a. pop())
print(a)
print(a.pop(2))
print(a)

d
['a', 'b', 'c', 'd']
c
['a', 'b', 'd']

In [15]:
a = ['a','b','c','d','d']

print(a.count('d'))
print(a.count('a'))

2
1

In [19]:
z= [11,22,33,44,55]
z.extend([66,77])
print(z)
y = [88,99]
z.extend(y)
print(z)

[11, 22, 33, 44, 55, 66, 77]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [1]:
bag = ['호박','감자','맥주','소주']

In [2]:
inp = input('필요한 항목을 넣어주세요')
bag.append(inp)
print(f'장바구니에는 {bag}들이 들어있습니다.')

필요한 항목을 넣어주세요 딸기

장바구니에는 ['호박', '감자', '맥주', '소주', '딸기']들이 들어있습니다.

In [3]:
hand = bag.pop(0)
print(f'{hand}를 꺼내서 장바구니에 {bag}이 남았습니다')

호박를 꺼내서 장바구니에 ['감자', '맥주', '소주', '딸기']이 남았습니다

In [6]:
bag = ['호박','감자','소주','맥주','피자']
print(f'바구니에 {bag} 물품이 있습니다')

bring = input('꺼내고싶은 물품을 입력하세요')
hand2 = bag.pop(bag.index(bring))
print(f'바구니에서 {hand2}를 꺼내어 {bag}이 남았습니다')

바구니에 ['호박', '감자', '소주', '맥주', '피자'] 물품이 있습니다

꺼내고싶은 물품을 입력하세요 감자

바구니에서 감자를 꺼내어 ['호박', '소주', '맥주', '피자']이 남았습니다

In [5]:
choice = 22
a = [11,22,33,44,55]
a.remove(choice)
print(f'{choice}를 제거하였습니다')

22를 제거하였습니다

In [8]:
# 실습
bag = ['호박','감자','소주','맥주','피자']
# 물품 하나 추가하기. 단, 지정한 물품 바로뒤에 추가하기
print(f'바구니에 {bag}물품이 있습니다')
test1 = input('추가할 물건 이름을 적어주세요.')
test2 = input('어느 물품 뒤에 넣어둘까요?')
print(f'바구니 안에 {test1}을 {test2}뒤에 추가로 넣었습니다')
ad = bag.insert(4,'라면')
print(f'그래서 장바구니에는 {bag} 물품이 있습니다')

바구니에 ['호박', '감자', '소주', '맥주', '피자']물품이 있습니다

추가할 물건 이름을 적어주세요. 라면
어느 물품 뒤에 넣어둘까요? 맥주

바구니 안에 라면을 맥주뒤에 추가로 넣었습니다
그래서 장바구니에는 ['호박', '감자', '소주', '맥주', '라면', '피자'] 물품이 있습니다

In [17]:
# 실습
bag = ['호박','감자','소주','맥주','피자']
# 물품 하나 추가하기. 단, 지정한 물품 바로뒤에 추가하기
print(f'바구니에 {bag}물품이 있습니다')
test1 = input('추가할 물건 이름을 적어주세요.')
test2 = input('어느 물품 뒤에 넣어둘까요?')
print(f'바구니 안에 {test1}을 {test2}뒤에 추가로 넣었습니다')
where = bag.index(test2) + 1
ad = bag.insert(where,test1)
print(f'그래서 장바구니에는 {bag} 물품이 있습니다')

바구니에 ['호박', '감자', '소주', '맥주', '피자']물품이 있습니다

추가할 물건 이름을 적어주세요. 라면
어느 물품 뒤에 넣어둘까요? 감자

바구니 안에 라면을 감자뒤에 추가로 넣었습니다
그래서 장바구니에는 ['호박', '감자', '라면', '소주', '맥주', '피자'] 물품이 있습니다

In [80]:
num = int(input('내가 누구게? 숫자 입력하세요'))
print(int(num) + 4 ,type(num))

내가 누구게? 숫자 입력하세요 4

8 <class 'int'>

In [2]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=yV09X0AAy29nL02VQUCn4gX0EVVSSNhS&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(data,type(data))
result = data[-1]['deal_bas_r']
print(result,type(result))
result2 = result.replace(',',"").replace('.',"")
print(result2, type(result2))
exc = int(result2)/10

[{'result': 1, 'cur_unit': 'AED', 'ttb': '393.73', 'tts': '401.68', 'deal_bas_r': '397.71', 'bkpr': '397', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '397', 'kftc_deal_bas_r': '397.71', 'cur_nm': '아랍에미리트 디르함'}, {'result': 1, 'cur_unit': 'AUD', 'ttb': '904.23', 'tts': '922.5', 'deal_bas_r': '913.37', 'bkpr': '913', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '913', 'kftc_deal_bas_r': '913.37', 'cur_nm': '호주 달러'}, {'result': 1, 'cur_unit': 'BHD', 'ttb': '3,835.95', 'tts': '3,913.44', 'deal_bas_r': '3,874.7', 'bkpr': '3,874', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '3,874', 'kftc_deal_bas_r': '3,874.7', 'cur_nm': '바레인 디나르'}, {'result': 1, 'cur_unit': 'BND', 'ttb': '1,069.19', 'tts': '1,090.78', 'deal_bas_r': '1,079.99', 'bkpr': '1,079', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,079', 'kftc_deal_bas_r': '1,079.99', 'cur_nm': '브루나이 달러'}, {'result': 1, 'cur_unit': 'CAD', 'ttb': '1,009.38', 'tts': '1,029.77', 'deal_bas_r': '1,019.58', 'bkpr': '1,019', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,019', 'kftc_deal_bas_r': '1,019.58', 'cur_nm': '캐나다 달러'}, {'result': 1, 'cur_unit': 'CHF', 'ttb': '1,597.47', 'tts': '1,629.74', 'deal_bas_r': '1,613.61', 'bkpr': '1,613', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,613', 'kftc_deal_bas_r': '1,613.61', 'cur_nm': '스위스 프랑'}, {'result': 1, 'cur_unit': 'CNH', 'ttb': '197.73', 'tts': '201.72', 'deal_bas_r': '199.73', 'bkpr': '199', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '199', 'kftc_deal_bas_r': '199.73', 'cur_nm': '위안화'}, {'result': 1, 'cur_unit': 'DKK', 'ttb': '201.18', 'tts': '205.25', 'deal_bas_r': '203.22', 'bkpr': '203', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '203', 'kftc_deal_bas_r': '203.22', 'cur_nm': '덴마아크 크로네'}, {'result': 1, 'cur_unit': 'EUR', 'ttb': '1,500.64', 'tts': '1,530.95', 'deal_bas_r': '1,515.8', 'bkpr': '1,515', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,515', 'kftc_deal_bas_r': '1,515.8', 'cur_nm': '유로'}, {'result': 1, 'cur_unit': 'GBP', 'ttb': '1,804.7', 'tts': '1,841.15', 'deal_bas_r': '1,822.93', 'bkpr': '1,822', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,822', 'kftc_deal_bas_r': '1,822.93', 'cur_nm': '영국 파운드'}, {'result': 1, 'cur_unit': 'HKD', 'ttb': '185.71', 'tts': '189.46', 'deal_bas_r': '187.59', 'bkpr': '187', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '187', 'kftc_deal_bas_r': '187.59', 'cur_nm': '홍콩 달러'}, {'result': 1, 'cur_unit': 'IDR(100)', 'ttb': '8.85', 'tts': '9.02', 'deal_bas_r': '8.94', 'bkpr': '8', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '8', 'kftc_deal_bas_r': '8.94', 'cur_nm': '인도네시아 루피아'}, {'result': 1, 'cur_unit': 'JPY(100)', 'ttb': '936.61', 'tts': '955.54', 'deal_bas_r': '946.08', 'bkpr': '946', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '946', 'kftc_deal_bas_r': '946.08', 'cur_nm': '일본 옌'}, {'result': 1, 'cur_unit': 'KRW', 'ttb': '0', 'tts': '0', 'deal_bas_r': '1', 'bkpr': '1', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1', 'kftc_deal_bas_r': '1', 'cur_nm': '한국 원'}, {'result': 1, 'cur_unit': 'KWD', 'ttb': '4,686.3', 'tts': '4,780.97', 'deal_bas_r': '4,733.64', 'bkpr': '4,733', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '4,733', 'kftc_deal_bas_r': '4,733.64', 'cur_nm': '쿠웨이트 디나르'}, {'result': 1, 'cur_unit': 'MYR', 'ttb': '325.42', 'tts': '331.99', 'deal_bas_r': '328.71', 'bkpr': '328', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '328', 'kftc_deal_bas_r': '328.71', 'cur_nm': '말레이지아 링기트'}, {'result': 1, 'cur_unit': 'NOK', 'ttb': '128.58', 'tts': '131.17', 'deal_bas_r': '129.88', 'bkpr': '129', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '129', 'kftc_deal_bas_r': '129.88', 'cur_nm': '노르웨이 크로네'}, {'result': 1, 'cur_unit': 'NZD', 'ttb': '817.02', 'tts': '833.53', 'deal_bas_r': '825.28', 'bkpr': '825', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '825', 'kftc_deal_bas_r': '825.28', 'cur_nm': '뉴질랜드 달러'}, {'result': 1, 'cur_unit': 'SAR', 'ttb': '385.58', 'tts': '393.37', 'deal_bas_r': '389.48', 'bkpr': '389', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '389', 'kftc_deal_bas_r': '389.48', 'cur_nm': '사우디 리얄'}, {'result': 1, 'cur_unit': 'SEK', 'ttb': '131.78', 'tts': '134.45', 'deal_bas_r': '133.12', 'bkpr': '133', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '133', 'kftc_deal_bas_r': '133.12', 'cur_nm': '스웨덴 크로나'}, {'result': 1, 'cur_unit': 'SGD', 'ttb': '1,069.19', 'tts': '1,090.78', 'deal_bas_r': '1,079.99', 'bkpr': '1,079', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,079', 'kftc_deal_bas_r': '1,079.99', 'cur_nm': '싱가포르 달러'}, {'result': 1, 'cur_unit': 'THB', 'ttb': '42.98', 'tts': '43.85', 'deal_bas_r': '43.42', 'bkpr': '43', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '43', 'kftc_deal_bas_r': '43.42', 'cur_nm': '태국 바트'}, {'result': 1, 'cur_unit': 'USD', 'ttb': '1,446.19', 'tts': '1,475.4', 'deal_bas_r': '1,460.8', 'bkpr': '1,460', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,460', 'kftc_deal_bas_r': '1,460.8', 'cur_nm': '미국 달러'}] <class 'list'>
1,460.8 <class 'str'>
14608 <class 'str'>

In [ ]:
# 환율 계산기 만들기

doll = int(input('원화로 계산할 달러를 입력하세요'))
kw = (doll*1450)
print('현재 환율로' ,kw:,, '원 입니다')
print(f'요청하신 {doll}달러의 원화는 {kw:,}원 입니다.')

In [87]:
from IPython.display import clear_output
#test

inp1 = input('질문1')
clear_output(wait=True)
inp2 = input('질문2')
clear_output(wait=True)
inp3 = input('질문3')

질문3 d

In [90]:
0.1 + 0.2

0.30000000000000004

In [94]:
# from decimal import Decimal  더 정밀한 계산
rr = 1449.4 *2
# result = Decimal(rr)*2
print(round(result,1))

2898.8

# 튜플 자료형

In [ ]:
# [ ] = 리스트 = 삭제 수정 가능
# ( ) = 튜플 = 요소 삭제 수정 불가능, 쉼표 필수, 소괄호 생략 가능

In [95]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

In [96]:
t1 = (1,2,'a','b')

In [97]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [98]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [ ]:
dir(tuple)  #tuple()

In [100]:
t1 = (1,2,'a','b')
print(t1[1],t1[3])

2 b

In [101]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [102]:
t2 = (3,4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [103]:
t2 = (3,4)
t3 = t2 *3
t3

(3, 4, 3, 4, 3, 4)

In [104]:
len(t3)

6

In [115]:
t1 = (1,2,3)
t1+(4,)

(1, 2, 3, 4)

# 딕셔너리 자료형

In [ ]:
dic = {'name' : 'pey', 'phone': '010-9999-1234', 'birth' : '1118'}

In [121]:
print(dic['name'])

pey

In [120]:
print(dic['phone'])
print(dic['birth'])

010-9999-1234
1118

In [1]:
al = [11,22,33,44,55]
ad = {0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(ad[0])

11
11

In [3]:
for l in al:
    print(l)
print('='*10)
for t in ad:
    print(l)

11
22
33
44
55
==========
55
55
55
55
55

In [4]:
a = {'aa':[11,22,33,44,55]}
print(a['aa'])

[11, 22, 33, 44, 55]

## 딕셔너리 관련 함수

In [13]:
a = {'name' : 'pey', 'phone': '010-9999-1234', 'birth' : '1118'}
print(a. keys(),'\n')
print(a.values(),'\n')

dict_keys(['name', 'phone', 'birth'])

dict_values(['pey', '010-9999-1234', '1118'])

In [14]:
for k in a.keys():
    print(k)

name
phone
birth

In [15]:
for o in a.values():
    print(o)

pey
010-9999-1234
1118

In [16]:
list(a.keys())   #리스트만들기

['name', 'phone', 'birth']

In [19]:
list(a.values())         #리스트만들기

['pey', '010-9999-1234', '1118']

In [22]:
print(a.items())   #키 밸류 쌍 얻기

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [25]:
a.clear() #키값쌍 모두 지우기
print(a)

{}

In [27]:
a = {'name' : 'pey', 'phone': '010-9999-1234', 'birth' : '1118'}
print(a.get('name'))

pey

In [28]:
print(a.get('birth'))

1118

In [29]:
print(a.get('weight'))

None

In [30]:
a = {'name' : 'pey', 'phone': '010-9999-1234', 'birth' : '1118','address':'busan','array':[1,2,3,4,5]}
print('name' in a )

True

In [5]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}

print(22 in al)
print(99 in at)
print(1 in ad)

True
False
True